/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: 'Montserrat', Regular;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  margin: 0px 156px;
  position: relative;
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', Regular;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
  flex-direction: row;
  max-width: 360px;
  margin-top: 36px;
  margin-left: 684px;
}

.input-search {
  font-family: 'Montserrat', Regular;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  display: block;
  width: 272px;
  height: 40px;
  padding: 0px 10px;
  margin: 0px;
  margin-right: 8px;
}
.input-search:hover {
  border: 1px solid #000000;
}
.input-search:focus {
  border: 1px solid #4e75ff;
}

button {
  font-family: 'Montserrat', Medium;
  font-size: 16px;
  background-color: #4e75ff;
  min-width: 91px;
  height: 40px;
  line-height: 1.5;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  transition: color 250ms linear, border-color 250ms linear;
}
button:hover,
button:focus {
  background-color: #6c8cff;
}

.gallery {
  display: grid;
  max-width: 1128px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 24px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
.gallery-image:hover {
  transform: scale(1.03);
}

.gallery-link {
  display: block;
  text-decoration: none;
  height: 100%;
  border: 1px solid #808080;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery-link:hover {
  cursor: zoom-in;
}

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;
}
.gallery-item {
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 4px;
}
.gallery-item label {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.gallery-item li {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.js-load-button {
  margin-top: 32px;
  margin-bottom: 44px;
}
.loader {
  font-family: 'Montserrat', Medium;
  font-size: 18px;
  margin-top: 22px;
  margin-bottom: 10px;
}
.loader.hidden,
.js-load-button.hidden {
  display: none;
}
.end-point {
  display: flex;
  flex-direction: column;
  align-items: center;
}
